<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="OpenShelf"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OpenShelf">

        <activity
            android:name=".actividades.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".actividades.MenuPrincipalActivity" />
        <activity android:name=".actividades.ListarLibrosActivity" />
        <activity android:name=".actividades.AnadirLibroActivity" />
        <activity android:name=".actividades.UsuariosActivity" />
        <activity android:name=".actividades.MostrarUsuariosActivity" />
        <activity android:name=".actividades.CrearUsuarioActivity" />
        <activity android:name=".actividades.CambiarContrasenaActivity" />
        <activity android:name=".actividades.EliminarUsuarioActivity" />
        <activity android:name=".actividades.PrestamosActivity" />
        <activity android:name=".actividades.AnadirPrestamoActivity" />
        <activity android:name=".actividades.MarcarComoDevueltoActivity" />
    </application>
</manifest>